<a href="https://colab.research.google.com/github/girishkhule/Python/blob/main/Python/Practice/Python_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello", "how are you?", sep="---")
print("Hello", "how are you?" )
print("Hello")

Hello---how are you?
Hello how are you?
Hello

 #Syntax Error:

In [ ]:
if 5 > 2 
  print("Five is greater than two!")

SyntaxError: ignored

In [ ]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [ ]:
if 5 > 2:
 print("Five is greater than two!")
        print("Five is greater than two!")

IndentationError: ignored

In [ ]:
if 5 > 2:
 print("Five is greater than two!")
 print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

In [ ]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

In [ ]:
"""
comment 
"""
# ignored only when thr excution part like above

'\ncomment \n'

In [ ]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [ ]:
x = 5
y = "John"
print(x)
print(y)
print(Y)

5
John

NameError: ignored

In [ ]:
a = 4
A = "Sally"
#A will not overwrite a
print(a)
print(A)

4
Sally

In [ ]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [ ]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0
print(x)
print(y)
print(z)

3
3
3.0

In [ ]:
x = "John"
# is the same as
x = 'John'

In [ ]:
a = 4
A = "Sally"
#A will not overwrite a
print(a)
print(A)

In [ ]:
2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: ignored

In [ ]:
x1, y1, z1 = "Orange", "Banana", "Cherry"
print(x1)
print(y1)
print(z1)

Orange
Banana
Cherry

Unpack a Collection
If you have a collection of values in a list, tuple etc. Python allows you to extract the values into variables. This is called unpacking.

In [ ]:
fruits = ["apple", "banana", "cherry"]
#x, y, z = fruits
print(fruits[1])
print(y)
print(z)

banana
banana
cherry

In [ ]:
fruits = ["apple", "bananaa", "cherryy"]
x2, y, z = fruits
print(x2)
print(y)
print(z)

apple
bananaa
cherryy

In [ ]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)
print(x,y,z)

Python is awesome
Python  is  awesome

In [ ]:
x = "Python "
y = 5 
z = "awesome"
print(x + y + z)
print(x,y,z)

TypeError: ignored

In [ ]:
x = "Python"
y = 5 
z = "awesome"
#print(x + y + z)
print(x,y,z)

Python 5 awesome

In [ ]:
x = "awesome" #global

def myfunc():
  x = "fantastic" #local
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [ ]:
def myfunc():
  global x1 = "fantastic"
#  x = "fantastic"

myfunc()

print("Python is " + x1)

SyntaxError: ignored

In [ ]:
def myfunc():
  global x  
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

To change the value of a global variable inside a function, refer to the variable by using the global keyword:

In [ ]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [ ]:
x = 5
print(type(x))

<class 'int'>

In [ ]:
x = "Hello World"	#str	
x1 = 20	#int	
x2 = 20.5	#float	
x3 = 1j	#complex	
x4 = ["apple", "banana", "cherry"]	#list	
x5 = ("apple", "banana", "cherry")	#tuple	
x6 = range(6)	#range	
x7 = {"name" : "John", "age" : 36}	#dict	
x8 = {"apple", "banana", "cherry"}	#set	
x9 = frozenset({"apple", "banana", "cherry"})	#frozenset	
x10 = True	#bool	
x11 = b"Hello"	#bytes	
x12 = bytearray(5)	#bytearray	
x13 = memoryview(bytes(5))	#memoryview	
x14 = None

print(x)
print(x1)
print(x2)
print(x3)
print(x4)
print(x5)
print(x6)
print(x7)
print(x8)
print(x9)
print(x10)
print(x11)
print(x12)
print(x13)
print(x14)

Hello World
20
20.5
1j
['apple', 'banana', 'cherry']
('apple', 'banana', 'cherry')
range(0, 6)
{'name': 'John', 'age': 36}
{'apple', 'cherry', 'banana'}
frozenset({'apple', 'cherry', 'banana'})
True
b'Hello'
bytearray(b'\x00\x00\x00\x00\x00')
<memory at 0x7f11b5178940>
None

In [ ]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [ ]:
y = int(2.8) # y will be 2 type casting

In [ ]:
z = float("3")   # z will be 3.0

In [ ]:
a = "Hello, World!"
print(a[1])
print(len(a))
print("free" in a)
print("expensive" not in a)
print(a[2:5])
print(a[2:]) #Slice To the End
print(a[-5:-2])
print(a.upper())
print(a.lower())
a = " Hello, girish! "
print(len(a))
print(len(a.strip())) # returns "Hello, girish!"
print(a.replace("H", "J"))
print(a.split(",")) # returns ['Hello', ' World!']
a = "Hello"
b = "World"
c = a + " " + b
print(c)

e
13
False
True
llo
llo, World!
orl
HELLO, WORLD!
hello, world!
16
14

The format() method takes unlimited number of arguments, and are placed into the respective placeholders:

In [ ]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

You can use index numbers {0} to be sure the arguments are placed in the correct placeholders:

In [ ]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

Escape Character

\'	Single Quote	
\\	Backslash	
\n	New Line	
\r	Carriage Return	
\t	Tab	
\b	Backspace	
\f	Form Feed	
\ooo	Octal value	
\xhh	Hex value

In [ ]:
txt = "We are the so-called "Vikings" from the north."

SyntaxError: ignored

In [ ]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

**String Methods**



```
# This is formatted as code\

Method	Description

capitalize()	Converts the first character to upper case
casefold()	Converts string into lower case
center()	Returns a centered string
count()	Returns the number of times a specified value occurs in a string
encode()	Returns an encoded version of the string
endswith()	Returns true if the string ends with the specified value
expandtabs()	Sets the tab size of the string
find()	Searches the string for a specified value and returns the position of where it was found
format()	Formats specified values in a string
format_map()	Formats specified values in a string
index()	Searches the string for a specified value and returns the position of where it was found
isalnum()	Returns True if all characters in the string are alphanumeric
isalpha()	Returns True if all characters in the string are in the alphabet
isdecimal()	Returns True if all characters in the string are decimals
isdigit()	Returns True if all characters in the string are digits
isidentifier()	Returns True if the string is an identifier
islower()	Returns True if all characters in the string are lower case
isnumeric()	Returns True if all characters in the string are numeric
isprintable()	Returns True if all characters in the string are printable
isspace()	Returns True if all characters in the string are whitespaces
istitle()	Returns True if the string follows the rules of a title
isupper()	Returns True if all characters in the string are upper case
join()	Joins the elements of an iterable to the end of the string
ljust()	Returns a left justified version of the string
lower()	Converts a string into lower case
lstrip()	Returns a left trim version of the string
maketrans()	Returns a translation table to be used in translations
partition()	Returns a tuple where the string is parted into three parts
replace()	Returns a string where a specified value is replaced with a specified value
rfind()	Searches the string for a specified value and returns the last position of where it was found
rindex()	Searches the string for a specified value and returns the last position of where it was found
rjust()	Returns a right justified version of the string
rpartition()	Returns a tuple where the string is parted into three parts
rsplit()	Splits the string at the specified separator, and returns a list
rstrip()	Returns a right trim version of the string
split()	Splits the string at the specified separator, and returns a list
splitlines()	Splits the string at line breaks and returns a list
startswith()	Returns true if the string starts with the specified value
strip()	Returns a trimmed version of the string
swapcase()	Swaps cases, lower case becomes upper case and vice versa
title()	Converts the first character of each word to upper case
translate()	Returns a translated string
upper()	Converts a string into upper case
zfill()	Fills the string with a specified number of 0 values at the beginning

```

The bool() function allows you to evaluate any value, and give you True or False in return,

Almost any value is evaluated to True if it has some sort of content.

Any string is True, except empty strings.

Any number is True, except 0.

Any list, tuple, set, and dictionary are True, except empty ones.

In [ ]:
x = ""
y = 15

print(bool(x))
print(bool(y))

False
True

Print "YES!" if the function returns True, otherwise print "NO!":

In [ ]:
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

In [ ]:
x = 200
print(isinstance(x, int))

In [ ]:

# Python program to show
# shift operators
 
a = 10
b = -10
 
# print bitwise right shift operator
print("a >> 1 =", a >> 1)
print("b >> 1 =", b >> 1)
 
a = 5
b = -10
 
# print bitwise left shift operator
print("a << 1 =", a << 1)
print("b << 1 =", b << 1)

a >> 1 = 5
b >> 1 = -5
a << 1 = 10
b << 1 = -20

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

In [ ]:
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

Python Collections (Arrays)
There are four collection data types in the Python programming language:

List is a collection which is ordered and changeable. Allows duplicate members.

Tuple is a collection which is ordered and unchangeable. Allows duplicate members.

Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.

Dictionary is a collection which is ordered** and changeable. No duplicate members.

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

Change Item Value

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry', 'orange', 'kiwi', 'mango']

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry"]
del thislist

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [ ]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

In [ ]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

In [ ]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

A short hand for loop that will print all items in a list:

In [ ]:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [ ]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

In [ ]:

a = 33
b = 200
if b > a:
print("b is greater than a")

IndentationError: ignored

In [ ]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [ ]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [ ]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [ ]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [ ]:
i = 1
while i < 6:
  print(i)
  i =i+ 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
 # print(x)
  print(fruits[1])
print()

banana
banana
banana

In [ ]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)
print(fruits[1])

apple
cherry
banana

In [ ]:
for x in range(6):
 print(x)

0
1
2
3
4
5

In [ ]:
for x in range(2, 6):
  print(x)

2
3
4
5

In [ ]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [ ]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [ ]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [ ]:
for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")

0
1
2

In [ ]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [ ]:
for x in [0, 1, 2]:
  pass

In [ ]:
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

In [2]:
i=1
while i<20:
  y=i*2
  print(y)
  i+=1

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38

In [11]:
i=0
y=1
while i<5 :
 # print(i)
  print("i = ",i)
  y=y+i
  print("y = ",y)
  i=i+1

i =  0
y =  1
i =  1
y =  2
i =  2
y =  4
i =  3
y =  7
i =  4
y =  11

In [ ]:
a=0
b=1
fab_ser =[]
#print(fab_ser)
for i in range(0,6):
  c=a+b  
  a=b
  b=c
  #print("i = ",i,"a = ",a,"b = ",b,"c = ",c)
  fab_ser.append(c)
print("Fibonacci series = ","0","1",*fab_ser)