<a href="https://colab.research.google.com/github/girishkhule/Python/blob/main/Learning/Data_Structures_Conditionals_Loops_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Structures

We have worked with lists in the previous notebooks. There are other built-in data structures:
- Sets - unordered collections without duplicates. We saw some examples in the probability notebook
- Dictionaries - Key-value pairs. Maps from one value (often strings) to another.

Some data structures are mutable and some are immutable; mutation and mutability are key concepts discussed in this section.  
e.g. slicing is non-mutating.  Slicing a list does not change/mutate the list itself.  See the following:

In [ ]:
L = ['a1', 'b2', 'c3']
L[1:]

Slicing is non-mutating.  While `L[1:]` returns a sub-list, the original list **`L`** remains unchanged/unmutated:

In [ ]:
L

`map` and `upper` are also non-mutating functions.  Generally a function that returns a value is non-mutating.

In [ ]:
list(map(lambda s: s.upper(), L))

`L` remains unchanged.

In [ ]:
L


## Mutating Operations on Lists

List is a mutable data type. The most important mutating operation is: **assignment**

In [ ]:
skills = ['Data Science','Python','Statistics','BDE']
skills[1] = 'R' # 'R' was assigned to index 1 in the list

Assignment does not have any output, but the value of `skills` is changed!

In [ ]:
skills

In [ ]:
skills = ['Data Science','Python','Statistics','BDE']
my_skills = skills
skills[1] = 'R'     # no assignment to my_skills
my_skills

Adding a list to another list by using `+` is non-mutating:

In [ ]:
L = ['a1', 'b2', 'c3']
L + ['d4']

But `L` is not updated:

In [ ]:
L

Assigning the value back to `L` updates it:

In [ ]:
L = L + ['d4']   
L

The `append` operation mutates a list:

In [ ]:
L.append('e')
L

The `extend` operation is similar to `append` if the input is one single value. However, it will flatten the input list and then append it to the original list.

In [ ]:
L.append([1,2,3])

In [ ]:
L

In [ ]:
L.extend([1,2,3])

In [ ]:
L

`listname.insert(i, x)` inserts `x` so that it is at location `i` in the list.  (If `i` is out of bounds, it inserts it in the nearest place)

In [ ]:
L = ['a1', 'b2', 'c3']
L.insert(2, 'd4')
L

In [ ]:
L.insert(10, 'e5')
L

In [ ]:
L.insert(-10, 'f6')
L

We have already seen `sorted(listname)`, which is a non-mutating sort operation:

In [ ]:
listname = [5, 4, 2, 6, 1]
sorted(listname)

In [ ]:
listname

Note: `listname.sort()` is a mutating sort operation:

In [ ]:
listname.sort()

In [ ]:
listname

A mutating operation applied to `listname` changes the value of another variable pointing to the same memory location as `listname`:

In [ ]:
listname = [5, 4, 2, 6, 1]
listname2 = listname
listname.sort()
listname2

Using `sorted(listname)` doesn't cause the change on `listname2`.

In [ ]:
listname = [5, 4, 2, 6, 1]
listname2 = listname
sorted(listname)

In [ ]:
listname2

- The change in a variable that shares a memory location as another is a side effect of the mutating operation.
- Programmers try to avoid side effects, because it is difficult to understand code when variables can change without even being directly mentioned.
- Note that the mutating operations seen have no return value, or rather, their return value is `None`

In [ ]:
print(listname.sort())

Application of mutating operations in a map will not return the desired map.  This is an attempt to extend every element of a nested list:

In [ ]:
# The following will not return the desired map
L = [[1], [2], [3]]
list(map(lambda l: l.append(4), L))

In [ ]:
# but it will apply the mutating operation to every element in the list
L

For a nested list, `sort` and `sorted` use the first element as the primary sort key, the second element as the second sort key, etc., and they sort in ascending order. You can customize the sort using user-defined key:

In [ ]:
heroes =[['Superman','A',9], ['Batman','B',3], ['Feynman','A',6]]
sorted(heroes, key = lambda x: x[1]) # key is the sort metric

In [ ]:
heroes =[['Superman','A',9], ['Batman','B',3], ['Feynman','A',6]]
sorted(heroes, key = lambda x: x[2]+len(x[0]))  # key is the sort metric

In [ ]:
heroes =[['Superman','A',9], ['Batman','B',3], ['Feynman','A',6]]
sorted(heroes, key = lambda x: x[2]+len(x[0]), reverse = True)  # key is the sort metric

- You can define functions that use mutating operations. If the purpose of a function is to perform a mutating operation, it does not need a return value.

- This function sorts a nested list, using the given element of each sublist as the sort key:

In [ ]:
def sort_on_input_field(inputlist, fld):
    inputlist.sort(key = lambda x: x[fld]) # sorts the list using the input fld. The sort is ascending by default

In [ ]:
L = [['a', 4], ['b', 1], ['c', 7], ['d', 3]]
sort_on_input_field(L, 1)

It has no return, and does not produce a value. But it mutates the variable.

In [ ]:
L

**Exercise 1**

Write a function to switch the ith and jth items in a list.
```
def func_switch(L, i, j):
    ... function body goes here ...

my_list = ['first', 'second', 'third', 'fourth']
func_switch(my_list, 1, -1)
my_list ---> ['first', 'fourth', 'third', 'second']
```

In [ ]:
#### Your code here
def switch_item(L, i, j):

## Tuples, sets and dictionaries

- **Strings**:  Like lists of characters.  Immutable.
- **Tuples**:  Tuples are like lists, but are immutable.
- **Sets**:  Also like lists, except that they do not have duplicate elements.  Mutable.
- **Dictionaries**:  These are tables that associate values with keys.  Mutable.


**Strings**

Strings are immutable

In [ ]:
company = 'The Avengers Assembled'
company[0] = 'A'

In [ ]:
'A'+company[1:]

In [ ]:
company

**Tuples**

- Tuples are written with round brackets instead of square brackets. Immutable

In [ ]:
courses = ('Programming', 'Stats', 'AI') 
courses[2] = 'Algorithms'

- Tuples support all the non-mutating list operations:

In [ ]:
courses[1:]

In [ ]:
list(map(lambda s: s.upper(), courses))

Tuples and lists both allow a shorthand for assignment that allows all the elements of the tuple or list to be assigned to variables at once:

In [ ]:
(a,b) = (3,4)   # works with lists also
a

In [ ]:
b

Note: A quick way to swap variables:

In [ ]:
(a,b) = (b,a)
a

In [ ]:
b

**Functions**
- A Function can return multiple values at the same time 
- We need have the same number of variables when we assign the output of the function

In [ ]:
def cube_both(x, y):
    return x**3, y**3 # returns two values

In [ ]:
x, y = cube_both(2,3) # we need to assign two variables to the output. If we assign more than 2 we will get an error

In [ ]:
x, y

If we assign more variables than the output, we will get an error:

In [ ]:
x, y, z = cube_both(2,3)

In [ ]:
# What happens if the function returns two values and we assign only one variable to the output?
a = cube_both(2,3)
a

**Set**

- A set is an unordered collection with no duplicate elements.  Sets are mutable.

- To create a set, we can use either curly braces or the `set()` function.

In [ ]:
vowels = {'u','a','e','i','o','u','i'}
vowels

In [ ]:
fruit = set(['apple', 'orange', 'apple', 'pear'])
fruit

- Sets support non-mutating list operations, as long as they don’t depend on order:

In [ ]:
primes = {2, 3, 5, 7, 11}
primes[2]

In [ ]:
sum(primes)

In [ ]:
set(map(lambda x: x*x, primes))   # order is not guaranteed

`set` is a mutable data type, but **all the elements need to be immutable data type**, i.e. you can't add a list to a set.

In [ ]:
primes.add([4,6,8]) # add() is how you update an existing set

In [ ]:
print(hash(2))
print(hash(3))
print(hash('9'))
print(hash((11,13,17)))
print(hash([4,6,8]))

In [ ]:
primes.add('9')
primes.add((11,13,17))
primes

Again, order is not guaranteed for a set object.

In [ ]:
x=[1,-2,-6,210, 'a']
set(x)

Sets have mathematical operations like union (|), intersection (&), difference (-), and symmetric difference (^).

In [ ]:
a = {'a1', 'b2', 'c3'}
b = {'b2', 'c3', 'd4'}

In [ ]:
a | b       # union

In [ ]:
a & b       # intersection

In [ ]:
a - b       # difference

In [ ]:
b - a

In [ ]:
a ^ b       # symmetric difference (a-b | b-a)

In [ ]:
(a-b) | (b-a)

In [ ]:
(a-b) & (b-a)

**Dictionaries**

- A dictionary is a set of key - value pairs. Each key can have just one value associated with it.  Dictionaries are mutable.
 - Any immutable object can be a key, including numbers, strings, and tuples of numbers or strings.  Strings are the most common.
 - Any object can be a value.

- Dictionaries are written in curly braces (like sets), with the key - value pairs separated by colons

In [ ]:
employee = {'education': 'graduate', 'height': 6.1, 'age': 30}
employee

The most important operation on dictionaries is key lookup:

In [ ]:
employee['age'] # passing the key within [] gives the value

We can add new key: value pairs to the dictionary:

In [ ]:
employee['city'] = 'Mumbai'
employee

We will get an error if we try to access a key that is not present

In [ ]:
employee['weight']

We can check whether a key is present using the in operator:

In [ ]:
'city' in employee

In [ ]:
'weight' in employee

The `get()` function, returns the corresponding value of the given key if it exists in the dictionary. Else it returns the value we passed to the function. But that does not change the dictionary

In [ ]:
employee.get('weight', 150) # weight is not present in the dictionary, hence it just returns the passed value 150

In [ ]:
employee # However the dictionary does not get updated with weight

We can also get a list of the keys, the values, or all key - value pairs:

In [ ]:
employee.keys()

In [ ]:
employee.values()

In [ ]:
employee.items()

In [ ]:
list(employee.items()) # puts the items inside a list

We can construct a dictionary from a list (or set) of tuples:

In [ ]:
dict([('Batman', 123), ('Superman', 345), ('Feynman', 567)]) # Dictionary from a list of tuples

In [ ]:
dict([['Batman', 123], ['Superman', 345], ['Feynman', 567]]) # Dictionary from a list of lists

**Exercise 2**

- Create the following dictionary:
```
items = {'books': 20, 'fruit': ['apple', 'orange'], 'vegetable': ['potato','carrot','onion']}
```
- Modify items as instructed below:
 - Add a misc. inventory item containing 'bag', 'clothes', and 'cups'.
 - Sort the vegetables alphabetically
 - Add ten more books
 - Sort the dictionary alphabetically by the keys
 
After these changes, state of items will be:
```
{'books': 30,
 'fruit': ['apple', 'orange'],
 'misc': ['bag', 'clothes', 'cups'],
 'vegetable': ['carrot', 'onion', 'potato']}
```

In [ ]:
#### Your code here

Check out the jupyter notebooks on Central Tendency, Dispersion, Correlation and Probability to find more examples and operations.

Are you able to understand those notebooks better now? Let us discuss if there are any questions


# Conditionals

- We have seen boolean functions in the `filter` operator. 
- We can write conditions that return Booleans inside functions, to do different calculations depending upon properties of the input.

- For example, consider the following function.  It returns the first element of a list:
```
￼def return_first_element(L):
    return L[0]
```
- It throws an error if its argument is the empty list. 
- The function will be more robust if it checks the list first and returns **None** when passed the empty list.

In [ ]:
def return_first_element(L):
    if L == []: # This line checks whether the list if empty. 'if L == []' returns a Boolean (either True or False)
        return None # We reach here only if the statement 'If L == []' returns True. i.e. when the list L is empty
    else: 
        return L[0] # We reach the statements under else when the if statement returns False, i.e. if L is not empty

In [ ]:
L1=[]
L2=[1,2,3]
print(return_first_element(L1)) # L1 is empty, so the if statement will be True and we will have None as the output
print(return_first_element(L2)) # L2 is not empty, so the statement under else will get executed and we will have 1

- The syntax for a conditional in a function is:
```
if condition:                # any boolean expression
    return expression        # return is indented from if
else:                        # else starts in same column as if
    return expression        # return is indented from else
```
- The syntax in `lambda` definitions is different:
```
lambda x: expression if condition else expression
```

- For example, here is `return_first_element` in lambda syntax:

In [ ]:
return_first_element_lambda = lambda L: None if L==[] else L[0]

In [ ]:
L1=[]
L2=[1,2,3]
print(return_first_element_lambda(L1)) # L1 is empty, so the if statement will be True and we will have None as the output
print(return_first_element_lambda(L2)) # L2 is not empty, so the statement under else will get executed and we will have 1

Conditionals can be nested many times:
- Return A if s1 is true, B if s1 is false but s2 is true, and C if both are false:
```python
if s1:
    return A
else:
    if s2:
        return B
    else:
        return C
```
- If we want an `if` to follow an `else` we can do that using `elif`:
```python
if s1:
    return A
elif s2:
    return B
else:
    return C
```
- Return A if s1 and s2 are true, B if s1 is true but not s2, C if s1 is false but s3 is true, and D if s1 and s3 are both false:
```python
if s1:
    if s2:
        return A
    else:
        return B
elif s3:
    return C
else:
    return D
```

**Exercise 3**

Write the following functions using if conditionals:
 1. `choose_func(response, choice1, choice2)` returns `choice1` if `response` is the string `'y'` or `'yes'`, and `choice2` otherwise.
 2. `leap_year_check(y)` returns true if `y` is divisible by 4, except if it is divisible by 100; but it is still true if `y` is divisible by 400. Thus, 1940 is a leap year, 1900 isn’t, and 2000 is.
 3. Use `filter` to define a function `leap_years` that selects from a list of numbers those that represent leap years.

In [ ]:
#### Your code here

#1


#2


#3


# For loop

In [ ]:
letters = ['a', 'b', 'c', 'd', 'e'] # defining the list
for letter in letters: # This line says that the variable letter will go over the list one item at a time
    print(letter) # For each value of letter, we print it

In [ ]:
for i in "random word": # i will iterate over each letter in the string 'random word' including the space
    print(i)

Using range function to generate a list of numbers and looping through the list:

In [ ]:
for i in range(len(letters)):
    print(i, letters[i]) # printing the number i and also the item in the list 'letters' using i as index

The Python function `enumerate()` returns both the index and element as a tuple from the list, simultaneously.

In [ ]:
letters = ['a', 'b', 'c', 'd', 'e']
for i, e in enumerate(letters):
    print(i, e)

- In addition to the iteration variable taking on values in a list, you may want other variables to take on different values in each iteration.  You can do this by “self-assigning” to those variables.  
- The following code sums the elements of a list

In [ ]:
numbers = [21, 13, 35, 27, 311] #defining the list
sum_numbers = 0 # initializing this to 0. We will update this as a running sum at every iteration of the loop
for n in numbers:
    sum_numbers = sum_numbers + n # updating the sum by adding n at every iteration
sum_numbers # At the end, sum_numbers will have the total of the items in the list

# List Comprehension

- List comprehensions are another notation for defining lists
- A list comprehension has the form: 
```
[ <expresion> for <element> in <list> if <boolean> ]
```

In [ ]:
# Example list comprehension that squares every element in a list, as follows:
[ x*x for x in [1, 2, 3, 4, 5]] # works like the map function

Note the above list comprehension has no `if` statement.  The following list comprehension includes an if statement.  This comprehension squares every *even* element in a list.

In [ ]:
[ x*x for x in [1, 2, 3, 4, 5] if x%2==0] # works like map and filter

- A list comprehension can also use if-else statements

- Writing list comprehension with if-else statements has the form: 
```
[ <expr1> if <boolean> else <expr2> for <element> in <list> ]
```

In [ ]:
# Example list comprehension that squares even elements in a list and adds two to every odd element
[x*x if x%2==0 else x+2 for x in [1, 2, 3, 4, 5]]

We can think about list comprehensions like a for loop. 

```python
for item in list:
    if conditional:
        expression
```

**Exercise 4**

Write list comprehensions to create the following lists:
 - The square roots of the numbers in `[100, 64, 49, 16]`
 - The even numbers in a numeric list `L`
 **Hint** (`n` is even if and only if `n % 2 == 0`.)

In [ ]:
#### Your code here

#1


#2

# While Loop

- While loops are used when the condition for terminating the loop is known, but the number of iterations are not necessarily known.  Examples include:
 - Summing the elements of a list up to the first zero.
 - Getting input from a user until the user enters ‘quit’.
 
- When using a while loop, iteration continues until a given condition becomes false:
```
while <condition>:
   statements
```

In [ ]:
i = 0 # setting the initial value of i as 0
while i < 10:
    print(i)
    i = i + 1 # incrementing i by 1 at every iteration. The while statement will compare this value next

This for loop does the same thing:

In [ ]:
for i in range(0, 10):
    print(i)

- One thing we can do with while loops that is hard to do with for loops is to terminate early.  
- This loops adds up integers starting from 1 until the sum exceeds n:

In [ ]:
n = 10
i = 1
sum_numbers = 0
while sum_numbers <= n:
    sum_numbers = sum_numbers + i
    i = i + 1
    print(sum_numbers)
sum_numbers # final value at the end of the loop

This loop is similar, but sums the numbers in a list.

In [ ]:
L = [5, 10, 15, 20, 25]

n = 20
i = 0
sum_numbers = 0
while sum_numbers <= n:
    sum_numbers = sum_numbers + L[i]
    i = i + 1
    print(sum_numbers)
sum_numbers

When iterating over a list like this, care must be taken not to go out of bounds. Without doing so, we might end up with the following:

In [ ]:
n = 100
i = 0
sum_numbers = 0
while sum_numbers <= n:
    sum_numbers = sum_numbers + L[i]
    i = i + 1
sum_numbers

This problem can be fixed by modifying the while statement to add another check

In [ ]:
n = 100
i = 0
sum_numbers = 0
while sum_numbers <= n and i < len(L):
    sum_numbers = sum_numbers + L[i]
    i = i + 1
    
sum_numbers

**Break** and **Continue** Statements

- The **break** statement immediately terminates the (for or while) loop it is in.  This provides a way to terminate the loop within the middle of the body 

- The **continue** statement terminates the current iteration of the loop and goes back to the header

In [ ]:
# The loop below adds the values in a list ignoring negative numbers. It stops if the sum exceeds 100:

L = [10, -10, -20, 20, -30, 30, 40, -40, 50, -50, 60, -60]

sum_numbers = 0
for item in L:
    if item < 0:
        continue
    sum_numbers = sum_numbers + item
    if sum_numbers > 100:
        break  
sum_numbers

**Exercise 5**

Calculate the sum of integers that are divisible by 7 and are less than 100. In the following example code, we use while True, which means the while loop will keep running until you break it.

```
i = 0
sum_numbers = 0
while True:

	# Type your code here

print(sum_numbers)
```

In [ ]:
i = 0
sum_ = 0
while True:
    # Type your code here
    break
print(sum_)


# Solutions

**Exercise 1**

In [ ]:
def switch_item(L, i, j):
    temp = L[i]
    L[i] = L[j]
    L[j] = temp

**Exercise 2**

In [ ]:
items = {'books': 20, 'fruit': ['apple', 'orange'], 'vegetable': ['potato','carrot','onion']}
items['misc'] = ['bag','clothes','cups']
items['vegetable'] = sorted(items['vegetable'])
items['books'] = items['books'] + 10
items = {k:v for k,v in sorted(items.items())}
items

{'books': 30,
 'fruit': ['apple', 'orange'],
 'misc': ['bag', 'clothes', 'cups'],
 'vegetable': ['carrot', 'onion', 'potato']}

**Exercise 3**

In [ ]:
#1
def choose_func(response, choice1, choice2):
    if response == 'y' or response == 'yes':
        return choice1
    else:
        return choice2

#2
def leap_year_check(y):
    return y % 400 == 0 or (y % 4 ==0 and y % 100 != 0)

#3
leap_years = lambda L:  filter(leap_year, L)

**Exercise 4**

In [ ]:
#1
import math
[math.sqrt(x) for x in [1, 4, 9, 16]]

#2
[x for x in L if x % 2 == 0]

NameError: ignored

**Exercise 5**

In [ ]:
i = 0
sum_numbers = 0
while True:
    if i > 100:
        break
    if i % 7 == 0:
        sum_numbers += i
    i += 1

print(sum_numbers)